aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiohttp-retry==2.9.1
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==3.0.0
async-timeout==3.0.1
attrs==24.3.0
audioop-lts>=0.2.1,<0.3.0  # ใช้เวอร์ชันที่เหมาะสม
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
bs4==0.0.2
buildozer==1.5.0
certifi==2024.8.30
cffi==1.17.1
cfscrape==2.1.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.8
cloudscraper==1.2.71
colorama==0.4.6
croniter==3.0.3
decorator==5.1.1
discord==2.3.2
discord-components==0.0.0.1
discord-interactions==0.4.0
discord-py-interactions==5.13.2
discord-py-slash-command==4.2.1
discord-typings==0.9.0
discord-webhook==1.3.1
Discord-Webhooks==1.0.4
discord.py==2.4.0
# เพิ่มรายการอื่น ๆ ตามที่ต้องการ
